*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fafafa;
    overflow: hidden;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
    z-index: 1000;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
}

.contact-info {
    background-color: #fff;
    padding: 2.5rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-info p {
    line-height: 1.6;
    opacity: 0.9;
}

.contact-form {
    position: relative;
    background-color: #1abc9c;
}

.contact-form::before{
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    top: 50px;
    left: -14px;
    transform: rotate(45deg);
    background-color: #1abc9c;
}

/* HTML Form stylings */

form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;    
}

.title {
    color:#fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
}

.input-container.text-area label {
    top: 1rem;
    transform: translateY(0);
}

.btn {
    padding: 0.6rem 1.4rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span::before,
.input-container span::after {
    content: "";
    position: absolute;
    width: 12%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #1abc9c;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span::before{
    left: 50%;
}
.input-container span::after{
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span::before,
.input-container.focus span::after {
    width: 50%;
    opacity: 1;
}


